body{
    color: black;
    background: linear-gradient(rgb(232, 235, 105),rgb(255, 249, 168) );
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 20px;
}

ul{
    padding: 0%;
}
h5{
    margin: 0%;
}
h6{
    color: red;
}

.cabeçalho{
    background: linear-gradient(#67D1D1, #ED5351);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    box-shadow: 0px 10px 40px #00000056 ;
    border-radius: 20px;
}

.perguntas{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.perguntas2{
    display: flex;
    justify-content:center;
    align-items: center;
}

.grupo1{
    display:flex;
    justify-content: start;
    align-items:flex-start;
    flex-direction: column;
    background: linear-gradient( rgba(39, 167, 226, 0.856), rgba(233, 40, 40, 0.767));
    border-radius: 20px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 100px;
    box-shadow: 0px 10px 40px #00000056 ;
    font-size: 15px;
    margin:4px;
    color:azure;
}

.grupo2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(233, 40, 40, 0.767),rgba(39, 167, 226, 0.856));
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 10px 40px #00000056 ;
    color:azure;
}

.grupo3{
    display:flex;
    justify-content: start;
    flex-direction: column;
    background: linear-gradient( rgba(39, 167, 226, 0.856), rgba(233, 40, 40, 0.767));
    border-radius: 20px;
    padding: 10px;
    padding-right: 50px;
    box-shadow: 0px 10px 40px #00000056 ;
    width: 300px;
    box-sizing: border-box;
    color:azure;
}
.grupo4{
    display:table;
    flex-direction:row;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 10px 40px #00000056 ;
    background-color:  rgba(255, 0, 0, 0.5);
}

.dados{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color:rgb(0, 0, 0);
    font-weight: 400;
    letter-spacing: 2px;
    background-color:blanchedalmond;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:3px solid ;
    justify-content: flex-start;
}

.botão{
    padding: 10px;
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    margin-top: 5px;
    color: #ffee00;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(94, 188, 231, 0.856);
}body{
    color: black;
    background: linear-gradient(rgb(232, 235, 105),rgb(255, 249, 168) );
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 20px;
}

ul{
    padding: 0%;
}
h5{
    margin: 0%;
}
h6{
    color: red;
}

.cabeçalho{
    background: linear-gradient(#67D1D1, #ED5351);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    box-shadow: 0px 10px 40px #00000056 ;
    border-radius: 20px;
}

.perguntas{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.perguntas2{
    display: flex;
    justify-content:center;
    align-items: center;
}

.grupo1{
    display:flex;
    justify-content: start;
    align-items:flex-start;
    flex-direction: column;
    background: linear-gradient( rgba(39, 167, 226, 0.856), rgba(233, 40, 40, 0.767));
    border-radius: 20px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 100px;
    box-shadow: 0px 10px 40px #00000056 ;
    font-size: 15px;
    margin:4px;
    color:azure;
}

.grupo2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(233, 40, 40, 0.767),rgba(39, 167, 226, 0.856));
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 10px 40px #00000056 ;
    color:azure;
}

.grupo3{
    display:flex;
    justify-content: start;
    flex-direction: column;
    background: linear-gradient( rgba(39, 167, 226, 0.856), rgba(233, 40, 40, 0.767));
    border-radius: 20px;
    padding: 10px;
    padding-right: 50px;
    box-shadow: 0px 10px 40px #00000056 ;
    width: 300px;
    box-sizing: border-box;
    color:azure;
}
.grupo4{
    display:table;
    flex-direction:row;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 10px 40px #00000056 ;
    background-color:  rgba(255, 0, 0, 0.5);
}

.dados{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color:rgb(0, 0, 0);
    font-weight: 400;
    letter-spacing: 2px;
    background-color:blanchedalmond;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:3px solid ;
    justify-content: flex-start;
}

.botão{
    padding: 10px;
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    margin-top: 5px;
    color: #ffee00;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(94, 188, 231, 0.856);
}
